nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
  margin: 5px;
}
nav li.selected {
  font-weight: bold;
}

table {
  width: 100%;
}

thead th {
  background-color: lightblue;
}

tbody th {
  background-color: rgba(240,240,128,0.5);
}

td:empty {
  background-color: rgba(200,200,200,0.5);
  color: #CCC;
  text-align: center;
}

tr.selected {
  background-color: lightgreen;
}
